<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap css-->
    <link href="views/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery and Bootstrap js -->
    <script src="views/js/jquery-min.js"></script>
    <script src="views/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div><h2>Pedido de compra</h2></div>
    <div class="container custom_table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 20%;">Nome</th>
            <th style="width: 20%;">Descrição</th>
            <th style="width: 20%;">Quantidade Atual</th>
            <th style="width: 20%;">Quantidade Mínima</th>
          </tr>
        </thead>
        <tbody>
          {{ range $key, $value := .Products }}
            <tr>
              <td style="width: 20%; text-align: center">{{$value.Name}}</td>
              <td style="width: 20%; text-align: center">{{$value.Description}}</td>
              <td style="width: 20%; text-align: center">{{$value.CurrQuantity}}</td>
              <td style="width: 20%; text-align: center">{{$value.MinQuantity}}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
      <br>
    </div>

    {{ if .Products }}
      Aprovado: {{.Approved}}
      <div>
        <div>
          <form method="POST" action="/order">
            <input type="text" name="ignore" style="visibility:hidden"><br>
            <button type="submit" class="btn btn-primary">Aprovar</button>
          </form>
        </div>
      </div>
    {{ end }}
  </body>
</html>
