<!DOCTYPE html>

<html>
  <head>
  <title>Estoque de Produtos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap css-->
    <link href="views/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery and Bootstrap js -->
    <script src="views/js/jquery-min.js"></script>
    <script src="views/js/bootstrap.min.js"></script>
  </head>
  <body>

    <!-- Navegation Bar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a>Estoque de Produtos</a></li>
            <li><a href="/order"> Ordens de Compra</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header List -->
    <div class="container">
      <div class="page-header">
        <h1>Estoque de Produtos</h1>
      </div>
    </div>

<!-- Product List -->
    <div class="container custom_table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th  style="width: 20%;text-align: center">Id</th>
            <th  style="width: 20%;text-align: center">Nome</th>
            <th  style="width: 20%;text-align: center">Descrição</th>
            <th  style="width: 20%;text-align: center">Tipo</th>
            <th  style="width: 20%;text-align: center">Quantidade Atual</th>
            <th  style="width: 20%;text-align: center">Quantidade Mínima</th>
            <th  style="width: 20%;text-align: center"></th>
          </tr>
        </thead>
        <tbody>

        {{ range $key, $value := . }}
            <td style="width: 20%; text-align: center">{{$value.ID}}</td>
            <td style="width: 20%; text-align: center">{{$value.Name}}</td>
            <td style="width: 20%; text-align: center">{{$value.Description}}</td>
            <td style="width: 20%; text-align: center">{{$value.Type}}</td>
            <td style="width: 20%; text-align: center">{{$value.CurrQuantity}}</td>
            <td style="width: 20%; text-align: center">{{$value.MinQuantity}}</td>
            <td>
              <form method="GET" action="/productUpdate" role="form">
                <input type="hidden" class="form-control" name="id" value="{{$value.ID}}">
                <button type="submit" class="btn btn-primary">Atualizar</button>
              </form>
            </td>
            <td>
              <form method="GET" action="/productDelete">
                <input type="hidden" class="form-control" name="id" value="{{$value.ID}}">
                <button type="submit" class="btn btn-danger">Deletar</button>
              </form>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>

    <!-- Product Form -->
    <div class="container">
      <h2>Adicionar Novo Produto</h2>
        <form method="POST" action="/productAdd" role="form">
        <div class="form-group">
          <label for="usr">Nome:</label>
          <input type="text" class="form-control" name="Name">
        </div>
        <div class="form-group">
          <label for="pwd">Tipo:</label>
          <input type="text" class="form-control" name="Type">
        </div>
        <div class="form-group">
          <label for="pwd">Descrição:</label>
          <input type="text" class="form-control" name="Description">
        </div>
        <div class="form-group">
          <label for="pwd">Quantidade Atual:</label>
          <input type="text" class="form-control" name="CurrQuantity">
        </div>
        <div class="form-group">
          <label for="pwd">Quantidade Mínima:</label>
          <input type="text" class="form-control" name="MinQuantity">
        </div>

        <button type="submit" class="btn btn-success">Adicionar</button>
      </form>
    </div>
  </body>
</html>
